---
import Pagination from "@/components/Pagination.astro";
import { getImage, postUrl } from "@/db/posts";
import { getBlock, type BlockType } from "@/components/blocks";
import Link from "@/components/Link.astro";
import type { BlockPosts } from "@/db/resolved";
import Image from "@/components/images/AstroPicture.astro";

interface Props {
  active?: number;
  path?: string;
  block: BlockType;
  pagination?: boolean | null;
}

const { pagination } = Astro.props;

const block = getBlock(Astro.props.block);
if (block?.__typename !== "block_posts") return null;
const posts = (block as any)?.posts as BlockPosts | undefined;
if (!posts) return null;

const isPaginated = pagination && block.pagination && posts.pagination;
---

<div class="col-span-3 space-y-16">
  {isPaginated && <Pagination paginate={posts.pagination} />}

  <div class="grid-col-1 grid gap-4 @lg:grid-cols-2 @xl:grid-cols-3 sm:space-y-8">
    {
      posts.posts.map((post, index) => {
        if (!post.slug) return null;
        const image = getImage(post.featured, post);
        const href = postUrl(post);
        const size = index === 0 ? "large" : [1, 5, 10, 17].includes(index) ? "medium" : "small";
        return (
          <div
            class:list={[
              "rounded-box @container",
              {
                "col-span-3 row-span-1": size === "large",
                "col-span-3 row-span-1 @md:row-span-2 md:col-span-2": size === "medium",
                "col-span-3 row-span-1 md:col-span-1 md:row-span-1": size === "small",
              },
            ]}
          >
            {post.headline && (
              <div>
                <div set:html={post.headline} />
              </div>
            )}

            <Link href={href} aria-label={`Read more about ${post.title}`}>
              <figure class="overflow-clip rounded-box">
                <Image
                  width={958}
                  height={537}
                  src={image.resolved}
                  alt={image.alt ?? post.title}
                />
              </figure>
            </Link>

            <Link href={href} aria-label={`Read more about ${post.title}`}>
              <p class="mt-2 text-pretty font-extrabold @xs:text-2xl @sm:text-2xl @md:text-3xl @lg:text-4xl">
                {post.title}
              </p>
            </Link>

            {post.description && (
              <p
                class:list={[
                  "text-ellipsis text-pretty",
                  {
                    "mt-2 line-clamp-4 sm:mt-4 md:text-lg xl:text-xl": size === "large",
                    "mt-2  line-clamp-3 sm:mt-4 md:text-lg": size === "medium",
                    "line-clamp-2 hidden max-h-8 text-xs @sm:text-sm sm:mt-2 sm:block sm:max-h-10 md:text-sm":
                      size === "small",
                  },
                ]}
              >
                {post.description}
              </p>
            )}

            {post.tags && (
              <div class="relative mt-2 flex flex-wrap items-center gap-2">
                {post.tags.map((tags) => {
                  if (!tags?.tags_id) return null;
                  const { name, slug } = tags.tags_id;
                  return (
                    <Link
                      href={`#tags/${slug}`}
                      aria-label={`See all articles having tag ${slug}`}
                      class:list={[
                        "group/tag btn glass btn-xs relative line-clamp-1 flex w-fit items-center p-0.5",
                      ]}
                    >
                      <span class="absolute bottom-0 h-0.5 w-0 bg-primary transition-all duration-500 ease-in-out group-hover/tag:w-full group-hover/tag:duration-300" />

                      <p class="relative line-clamp-1 scale-90 px-1 text-xs lowercase group-hover/tag:text-primary sm:text-sm">
                        #{name}
                      </p>
                    </Link>
                  );
                })}
              </div>
            )}
          </div>
        );
      })
    }
  </div>

  {isPaginated && <Pagination center={true} paginate={posts.pagination} />}
</div>
