---
import type { Paginated } from "@/lib/pagination";
import Link from "./Link.astro";

interface Props {
  paginate: Paginated;
  center?: boolean;
}

const { paginate, center } = Astro.props;
const { next, prev, range, active, first, last, path } = paginate;
---

<div
  class:list={[
    "flex h-fit items-center justify-center gap-4 @sm:flex-row sm:justify-end",
    {
      "sm:justify-center": center,
    },
  ]}
>
  <Link
    href={prev || first}
    aria-label={next ? "Previous Page" : "No Previous Page"}
    class:list={[
      "btn btn-square glass btn-sm pointer-events-none hidden place-items-center items-center justify-center bg-base-content text-base-200 hover:bg-base-content @sm:flex",
      {
        "pointer-events-auto ": prev,
        "btn-disabled": !prev,
      },
    ]}
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="h-3 w-3 fill-base-200">
      <path
        d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
      ></path></svg
    >
  </Link>

  <div class="flex items-center justify-evenly gap-2 sm:gap-4">
    {
      range.map((page) =>
        page === "..." ? (
          <div class="btn-squre btn glass btn-sm select-none text-sm">{page}</div>
        ) : (
          <Link
            aria-label={page === active ? `Page ${page}` : `Visit Page ${page}`}
            href={page === 1 ? first : `${path}/${page}`}
            class:list={[
              "btn btn-square glass btn-sm text-sm",
              {
                "pointer-events-none bg-base-content text-base-200 hover:bg-base-content":
                  active === page,
              },
            ]}
          >
            {page}
          </Link>
        )
      )
    }
  </div>

  <Link
    href={next || last}
    aria-label={next ? "Next Page" : "No Next Page"}
    class:list={[
      "btn btn-square glass btn-sm pointer-events-none hidden place-items-center items-center justify-center bg-base-content text-base-200 hover:bg-base-content @sm:flex",
      {
        "pointer-events-auto ": next,
        "btn-disabled": !next,
      },
    ]}
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="h-3 w-3 fill-base-200">
      <path
        d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
      ></path></svg
    >
  </Link>
</div>
